body{
    font-family: 'Montserrat', sans-serif;
}

.nav-color-background{
    background-color: #2087ED;
}
.nav-color-font{
    color: white;
}
.imagem-carrossel {
    object-fit:cover;
    object-position: 0 5%;
    height: 600px;
}

.fonte-azul{
    color: #093364;
}

.fonte-bold{
    font-weight: bold;
}

.fonte-titulo-branco{
    color:white;
    font-weight: bold;
}
.fonte-banner-titulo{
    color: white;
    font-weight: bold;
}
.fonte-banner-paragrafo{
    color: white;
    font-size: 24px;
}
.fonte-paragrafo{
font-size: 16px;
color: #093364;
}

.fonte-termo-aceite{
    font-size: 14px;
    color: white;
 }

.botao-cor-especial {
    background-color: #2087ED;
    color: white;
}
.card-largura{
    max-width: 18rem;
}
.card-posicao-imagem{
    object-fit:cover;
    /*object-position: 0 25%; */
    height: 200px;
}

.background-newsletter {
    background-color: #220D4E;
}